.tp_event_counter {
    background-color: #ffb606;
    height: auto;
    overflow: hidden;
    padding: 20px;
}

.countdown-section {
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 10px;
}

.countdown-amount {
    position: relative;
    width: 50px;
    height: 40px;
    overflow: hidden;
}

.countdown-period {

}

.countdown-descr {
    font-size: 13px !important;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?c3wvz6');
    src: url('../fonts/icomoon.eot?c3wvz6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c3wvz6') format('truetype'),
    url('../fonts/icomoon.woff?c3wvz6') format('woff'),
    url('../fonts/icomoon.svg?c3wvz6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="event-icon-"], [class*=" event-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.event-icon-spinner2:before {
    content: "\e97b";
}

@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    line-height: 1;
    margin: .5em;
    animation: anim-rotate 2s infinite linear;
    color: #fff;
    text-shadow: 0 0 .25em rgba(255, 255, 255, .3);
}

/**end FONT**/
.event-lightbox-wrap .mfp-close {
    display: none;
}

#event-lightbox {
    display: none;
    visibility: none;
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

#event-lightbox.event-fade {
    display: block;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#event-lightbox.event-fade.event-in {
    opacity: 1;
    visibility: visible;
}

.tp-event-notice {
    margin: 10px 0 2em !important;
    position: relative;
    list-style: none !important;
    width: auto;
    word-wrap: break-word;
}

.tp-event-notice.success {
    color: #31708f;
    background: #d9edf7;
    padding: 10px 15px !important;
}

.tp-event-notice.error {
    padding: 1em 2em 1em 1.5em !important;
    background-color: #fdb494;
    color: #515151;
    border-left: 3px solid #c35a2c;
}

.form-row input,
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="checkbox"],
.form-row input[type="number"],
.form-row input[type="password"] {
    border: 1px solid #eee;
    background-color: transparent;
}

.form-row.has-error {
    color: #a00;
}

.form-row.has-error input {
    border-color: #a00;
}

.form-row.validated input {
    border-color: #69bf29;
}

.event_auth_button {
    background: #1a1a1a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    text-transform: uppercase;
}

.event_auth_button:hover {
    background: #007acc;
    cursor: pointer;
    color: #fff;
}

.event_auth_payment_methods {
    margin: 10px 0;
    list-style: none;
    padding: 10px;
    border-radius: 3px;
    background-color: #eee;
}

.single-tp_event .entry-summary {
    margin-bottom: 0;
}

.post-type-archive-tp_event .entry-title, .tax-tp_event_category .entry-title, .entry-summary .entry-countdown, .entry-summary .entry-content {
    margin-top: 20px;
}

.post-type-archive-tp_event ul, .tax-tp_event_category ul {
    list-style-type: none;
}

.post-type-archive-tp_event ul li.tp_event, .tax-tp_event_category ul li.tp_event {
    width: calc(50% - 30px);
    float: left;
}

.post-type-archive-tp_event ul li.tp_event:nth-child(2n), .tax-tp_event_category ul li.tp_event:nth-child(2n) {
    margin-left: 15px;
}

.post-type-archive-tp_event ul li.tp_event:nth-child(2n+1), .tax-tp_event_category ul li.tp_event:nth-child(2n+1) {
    margin-right: 15px;
    clear: both;
}

.post-type-archive-tp_event .events-pagination {
    clear: both;
}

.post-type-archive-tp_event .events-pagination ul.page-numbers li {
    display: inline-block;
    padding: 0 5px;
}

#content article.tp_single_event .entry-content {
    float: none;
    width: 100%;
}

.single-tp_event .entry-register a {
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 20px;
}

.wpems_g_calendar_url{
    display: block !important;
}
/* ======================================================================== */
/* ======================================================================== */
/* ======================== EVENT LIST DISPLAY ============================ */

body .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator) {
    max-width: 100vw;
    background-color: white;
}

.entry-content .eventListDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75vw;
    margin: auto;
    padding: 50px 0;
    position: relative;
    font-size: 16px;
 }

.search-filter {
    width: 100%;
    border: 1px solid #494848;;
    padding: 20px;
}
.search-filter form{
margin: 0;
}
.search_status_type_category {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 0 10px 0;
}
.wrapper_input_search {
    flex:2;
}
.wrapper_status, .wrapper_type, .wrapper_type {
    flex: 1;
}
#input_search, #date{
    width: 97%;
    padding: 8px;
    margin: 0;
    border: 1px solid #494848;
}
#status , #category, #type{
    width: 97%;
    margin: 0;
    padding: 8px;
    border: 1px solid #494848;
}

/*  Date range - price - submit button */
.date_price_submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper_date {
    flex: 4;
}
/* Start Price range */
.wrapper_price {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#price_max, #price_min {
    width: 100%;
    padding: 8px;
    margin: 0;
    border: 1px solid #494848;
}
.wrapper_min, .wrapper_max{
    position: relative;
}

.lowTohigh {
    text-align: center;
}
.priceOfMin , .priceOfMax{
    display: none;
    position: absolute;
    top:98%;
    height: 150px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
}
.priceOfMin ul , .priceOfMax ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.priceOfMin li , .priceOfMax li {
    padding: 0 20px ;
}

.priceOfMin li:hover , .priceOfMax li:hover {
    background-color: #ccc;
    cursor: pointer;
}
/* For scroll */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#priceOfMin li:hover, #priceOfMax li:hover{
    background-color: #ccc;
    cursor: pointer;
}

/* End Price range */

#event-search-btn{
    flex: 1;
    border: 1px solid #494848;
    background-color: #3c70e7;
    color: white;
    padding: 10px 0;
    margin: 0 3px;
    font-size: 16px;
}

.eventListDisplay .showResult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 50px 0 10px 0;
}
#orderby{
    width: 100%;
    margin: 0;
    padding: 8px 25px;
    border: 1px solid #494848;
}

.date-title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin: 10px 0 40px 0;
    height: 30%;
}
.listEvent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0px 0px 34px -22px #000000; 
    height: 35vh;
}
.left {
    padding: 10px 10px 10px 20px;
    flex: 1;
    height: 100%;
}
.date_month {
    flex: 1;
    background-color: #ccc;
    text-align: center;
    margin: 0 10px 0 0;
}
.date_month h3{
    font-weight: 500;
    margin: 0;
}
.title {
    flex: 6;
} 
.title h4 {
    margin: 0;
}
.title h4:hover {
    color: #3c70e7;
}

.right {
    flex: 1;
    position: relative;
    height: 100%;
}
.rightImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rightImage img {
    width: 100%;
    height: 100%;
}


/* Pagination */
.event-pagination {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    padding: 5px 15px;
    margin: 0 5px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
}

.page-numbers {
    z-index: 10;
}
.page-numbers:hover {
    background-color:  #0073e5;
    color: white;
}

.pagination .current {
    background-color: #0073e5;
    color: #fff;
    border-color: #0073e5;
}

.pagination a:hover {
    background-color: #0073e5;
    color: #fff;
    border-color: #0073e5;
    text-decoration: none;
}
.event-pagination .pagination, .comments-pagination {
    border: none;
    margin: 15px 0;
}
.event-pagination .pagination .next , 
.event-pagination .pagination .prev 
{
    padding: 0;
    margin: 0;
    width: 38px;
}
.event-pagination .dashicons-arrow-right-alt, .event-pagination .dashicons-arrow-left-alt{
    display: inline-block;
    text-align: center;
    padding: 10px 0px 28px 0px;
    width: 100%;
    margin: 0;
}
.event-pagination .dashicons-arrow-right-alt:hover, .event-pagination .dashicons-arrow-left-alt:hover{
    background-color: #0073e5;
    color: #fff;
    border-color: #0073e5;
}
/* ============================================================ */
/* ============================================================ */
/*================ OVERWRITE COUNTDOWN ======================== */

.totalTime{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.time-remaining {
    color: #000;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.time-remaining #countdown_title{
    display: none;
}
.event-list-counter{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.event-list-counter .countdown-row {
    clear: both;
    width: 10%;
    padding: 0px 2px;
    text-align: center;
}
.event-list-counter  .totalTime {
    width: 100%;
}
.event-list-counter  .countdown-row{
    padding: 0;
}

.event-list-counter  .countdown-section{
	font-size: 50%;
	text-align: center;
    padding: 0;
    border: 1px solid #ccc;
    margin: 0 5px;
    width: 20%;
    background-color: white;

}

.event-list-counter  .countdown-rtl {
	direction: rtl;
}
.event-list-counter  .countdown-holding span {
	color: #888;
}
.event-list-counter  .countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.event-list-countdown .is-countdown {
    border: none;
}
.event-list-counter  .countdown-show1 .countdown-section {
	width: 80%;
}
.event-list-counter  .countdown-show2 .countdown-section {
	width: 40%;
}
.event-list-counter  .countdown-show3 .countdown-section {
	width: 25%;
}
.event-list-counter  .countdown-show4 .countdown-section {
	width: 18%;
}
.event-list-counter  .countdown-show5 .countdown-section {
	width: 15%;
}
.event-list-counter  .countdown-show6 .countdown-section {
	width: 14%;
}
.event-list-counter  .countdown-show7 .countdown-section {
	width: 12%;
}
.event-list-counter  .countdown-amount {
    font-size: 250%;
    font-weight: 500;
}
.event-list-counter  .countdown-period {
    font-size: 200%;
    display: block;
}
.event-list-counter  .countdown-descr {
	display: block;
	width: 90%;
}
.site .button:not(:hover):not(:active):not(.has-background), button:not(:hover):not(:active):not(.has-background){

    background-color: #3498db;
}

/* ======================================================== */
/* ======================================================== */
/* ====================== GOOGLE CALENDAR =================*/

#syncCalendar {
    margin: auto;
}
.event-calendars {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
}
#google-api td {
    border: none;
}
#clientID, #apiKey {
    padding: 5px;
    border: 1px solid #969090;
}

#authorize_button, #signout_button {
    padding: 7px 15px;
    margin: 0 20px;
    background-color: #0073e5;
    border: 1px solid #0073e5;
}
#authorize_button:hover, #signout_button:hover {
    border: 1px solid #0073e5;
    color: white;
}


/* ===================================================== */
/* ===================================================== */
/* ================= SHORT CODE CALENDAR =============== */
#calendar {
    padding: 50px;
}
#shortcode-eventCalendars .shortcode-event-calendar {
	border: 1px solid #ccc;
	background-color: white;
	text-align: center;

}

#shortcode-eventCalendars .shortcode-event-calendar-input {
	border: none;
}

#shortcode-eventCalendars .shortcode-event-calendar-input:focus {
	border: none;
}
.event-tooltip {
	position: absolute;
	padding: 5px 10px;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 1000;
}
.fc-event-title-container:hover {
	cursor: pointer;
}