.tp_event_counter{
    background-color: #ffb606;
    height: auto;
    overflow: hidden;
    padding: 20px;
}
.countdown-section{
    background: rgba(255,255,255,.2);
    border: 1px solid rgba(255,255,255,.1);
    padding: 10px;
}
.countdown-amount{
    position: relative;
    width: 50px;
    height: 40px;
    overflow: hidden;
}
.countdown-period{

}
.countdown-descr{
	font-size: 13px !important;
}