.tp_event_counter {
    background-color: #ffb606;
    height: auto;
    overflow: hidden;
    padding: 20px;
}

.countdown-section {
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 10px;
}

.countdown-amount {
    position: relative;
    width: 50px;
    height: 40px;
    overflow: hidden;
}

.countdown-period {

}

.countdown-descr {
    font-size: 13px !important;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?c3wvz6');
    src: url('../fonts/icomoon.eot?c3wvz6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c3wvz6') format('truetype'),
    url('../fonts/icomoon.woff?c3wvz6') format('woff'),
    url('../fonts/icomoon.svg?c3wvz6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="event-icon-"], [class*=" event-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.event-icon-spinner2:before {
    content: "\e97b";
}

@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    line-height: 1;
    margin: .5em;
    animation: anim-rotate 2s infinite linear;
    color: #fff;
    text-shadow: 0 0 .25em rgba(255, 255, 255, .3);
}

/**end FONT**/
.event-lightbox-wrap .mfp-close {
    display: none;
}

#event-lightbox {
    display: none;
    visibility: none;
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

#event-lightbox.event-fade {
    display: block;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#event-lightbox.event-fade.event-in {
    opacity: 1;
    visibility: visible;
}

.tp-event-notice {
    margin: 10px 0 2em !important;
    position: relative;
    list-style: none !important;
    width: auto;
    word-wrap: break-word;
}

.tp-event-notice.success {
    color: #31708f;
    background: #d9edf7;
    padding: 10px 15px !important;
}

.tp-event-notice.error {
    padding: 1em 2em 1em 1.5em !important;
    background-color: #fdb494;
    color: #515151;
    border-left: 3px solid #c35a2c;
}

.form-row input,
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="checkbox"],
.form-row input[type="number"],
.form-row input[type="password"] {
    border: 1px solid #eee;
    background-color: transparent;
}

.form-row.has-error {
    color: #a00;
}

.form-row.has-error input {
    border-color: #a00;
}

.form-row.validated input {
    border-color: #69bf29;
}

.event_auth_button {
    background: #1a1a1a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    text-transform: uppercase;
}

.event_auth_button:hover {
    background: #007acc;
    cursor: pointer;
    color: #fff;
}

.event_auth_payment_methods {
    margin: 10px 0;
    list-style: none;
    padding: 10px;
    border-radius: 3px;
    background-color: #eee;
}

.single-tp_event .entry-summary {
    margin-bottom: 0;
}

.post-type-archive-tp_event .entry-title, .tax-tp_event_category .entry-title, .entry-summary .entry-countdown, .entry-summary .entry-content {
    margin-top: 20px;
}

.post-type-archive-tp_event ul, .tax-tp_event_category ul {
    list-style-type: none;
}

.post-type-archive-tp_event ul li.tp_event, .tax-tp_event_category ul li.tp_event {
    width: calc(50% - 30px);
    float: left;
}

.post-type-archive-tp_event ul li.tp_event:nth-child(2n), .tax-tp_event_category ul li.tp_event:nth-child(2n) {
    margin-left: 15px;
}

.post-type-archive-tp_event ul li.tp_event:nth-child(2n+1), .tax-tp_event_category ul li.tp_event:nth-child(2n+1) {
    margin-right: 15px;
    clear: both;
}

.post-type-archive-tp_event .events-pagination {
    clear: both;
}

.post-type-archive-tp_event .events-pagination ul.page-numbers li {
    display: inline-block;
    padding: 0 5px;
}

#content article.tp_single_event .entry-content {
    float: none;
    width: 100%;
}

.single-tp_event .entry-register a {
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 20px;
}

.wpems_g_calendar_url{
    display: block !important;
}